<div class="logo">
  <a href="https://www.creative-tim.com?ref=bda-sidebar-logo" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a href="javscript:void(0)" class="simple-text logo-normal">
    Urnacare
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <!-- <li routerLinkActive="active"
    *appHasAnyAuthority="['ROLE_PATIENT']"
    class="nav-item">
      <a routerLink="/patient-appointment">
        <i class="tim-icons icon-notes"></i>
        <p>Appointment</p>
      </a>
    </li>
    <li routerLinkActive="active"
    *appHasAnyAuthority="['ROLE_DOCTOR']"
    class="nav-item">
      <a routerLink="/doctor-appointment">
        <i class="tim-icons icon-notes"></i>
        <p>Appointment</p>
      </a>
    </li>
    <li routerLinkActive="active"
    *appHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SUPPORT']"
    class="nav-item">
      <a routerLink="/ingredients">
        <i class="tim-icons icon-notes"></i>
        <p>Ingredients</p>
      </a>
    </li> -->
    <ng-container *ngFor="let mi of menuItems">
      <li routerLinkActive="active" *appHasAnyAuthority="mi.authorities" class="nav-item">
        <a [routerLink]="mi.path">
          <i class="tim-icons {{mi.icon}}"></i>
          <p>{{ mi.title }}</p>
        </a>

      </li>
    </ng-container>

  </ul>
</div>