<div class="content" style="padding-left: 30px;">
    <div class=" row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class=" card-header">
                    <h2>Reset Password</h2>
                </div>
                <div class="card-body" *ngIf="!sent">
                    <h4>Please enter your email address and we will send you direction to reset your password.</h4>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.invalid" class= "invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Invalid email</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary submit-button float-right" [disabled]="loading">Submit</button>
                    </form>
                </div>
                <div class="card-body" *ngIf="sent">
                    <h4>We have sent you instruction to reset your password on your email. Please check your email.</h4>
                </div>
            </div>
        </div>
    </div>
</div>