<header class="navbar navbar-expand flex-column flex-md-row bd-navbar"><a
  class="navbar-brand mr-0 mr-md-2 navbar-absolute-logo"
  routerLink="/"> Urnacare </a>
<div class="navbar-nav-scroll ml-md-auto ">
  <ul class="navbar-nav bd-navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link" href="javascript: void(0)" routerLink="/login"><i
          class="nc-icon nc-tv-2"></i> Login</a>
    </li>
  </ul>
</div>
</header>

<div class="wrapper">
<div class="main-panel" data="green">
  <router-outlet></router-outlet>
</div>

</div>