<div class="content" style="padding-left: 30px;">
    <div class=" row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class=" card-header">
                    <h2>Activation</h2>
                </div>
                <div class="card-body" >
                    <h3>Please wait we are activating your account. After successful activation you would be redirected to login page.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
