<div class="modal-header">
  <h4 class="modal-title">Edit/Create/View User</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form
    class="needs-validation"
    novalidate
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-row">
      <div class="col-md-12">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.name.invalid"
        >
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-5 offset-md-7">
        <button type="submit" class="btn btn-primary" [disabled]="loading">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
