/* You can add global styles to this file, and also import other style files */
.landing-bg {
    background-image: url("assets/img/bg.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.landing-text {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.page-link {
    color: inherit
}

.dropdown-menu.show {
    z-index: 99999;
    max-height: 250px !important;
    overflow-y: auto;
    transition: unset;
}