<div class=" content">
    <div class=" row">
        <div class="col-md-12">
            <div class="card">
                <div class=" card-header">
                    <h2>Users</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter">
                            <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Authority</th>
                              <th scope="col">Activated</th>
                              <th>
                                  <button type="button" class="btn btn-link" (click)="open()">
                                      <i class="tim-icons icon-simple-add"></i>
                                  </button>
                              </th>
                            </tr>
                            </thead>
                            <tbody *ngIf="users">
                            <tr *ngFor="let user of users">
                              <td>
                                {{ user.firstName }} {{ user.lastName }}
                              </td>
                              <td>{{ user.authority }}</td>
                              <td>{{ user.activated }}</td>
                              <td><button type="button" (click)="open(user)" class="btn btn-link">
                                <i class="tim-icons icon-pencil"></i>
                              </button></td>
                            </tr>
                            </tbody>
                          </table>
                    </div>

                </div>
                <div class="card-footer" >
                    <ngb-pagination [collectionSize]="totalSize" [(page)]="page" 
                    [pageSize]="size" (pageChange)="pageChange()" size="md" class="d-flex justify-content-end">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
