<div class=" content">
    <div class=" row">
        <div class="col-md-12">
            <div class="card">
                <div class=" card-header">
                    <h2>Reset Password</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control" id="newPassword"
                                placeholder="Enter New Password" formControlName="newPassword"
                                [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                            <div *ngIf="submitted && f.newPassword.invalid" class="invalid-feedback">
                                <div *ngIf="f.newPassword.errors.required">Password is required</div>
                                <div *ngIf="f.newPassword.errors.minlength">Password should be atleast 6 characters long
                                </div>
                                <div *ngIf="f.newPassword.errors.maxlength">Password should be atmost 16 characters long
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword"
                                placeholder="Confirm Password" formControlName="confirmPassword"
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                            <div *ngIf="submitted && f.confirmPassword.invalid" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.minlength">Password should be atleast 6 characters
                                    long
                                </div>
                                <div *ngIf="f.confirmPassword.errors.maxlength">Password should be atmost 16 characters
                                    long
                                </div>
                                <div *ngIf="!!f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary submit-button float-right"
                            [disabled]="loading">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>