<div class="card">
    <div class=" card-header">
        <h4 class=" card-title">
            <span *ngIf="!completed">Upcoming Appointments</span>
            <span *ngIf="completed">Past Appointments</span>
        </h4>
    </div>
    <div class="card-body">
        <div class=" table-full-width table-responsive">
            <table class=" table">
                <thead>
                    <tr>
                        <td>Patient</td>
                        <td>Date Time</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="appointments && appointments.length > 0">
                        <tr *ngFor="let a of appointments">
                            <td>{{ a.patientFirstName }} {{ a.patientLastName }}</td>
                            <td>{{ a.scheduledDate | date: 'MMM d, y, h:mm a' }}</td>
                            <td>
                                <a class="btn btn-sm btn-warning" href="javascript: void(0)" (click)="openChat(a.uniquieKey, a.patientFirstName + ' ' + a.patientLastName )"  *ngIf="a.enableChat">Chat</a> <!--  -->
                                <button class="btn btn-sm btn-info" 
                                (click)="openConsultation(a)"
                                *ngIf="(completed && a.consultationId) || (!completed && a.enableConsultation)"
                                >Consultation</button><!--   -->
                                <span *ngIf="completed && !a.consultationId">Missed</span>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="appointments && appointments.length < 1">
                        <tr>
                            <td colspan="4"> -- No records found -- </td>
                        </tr>
                    </ng-container>

                </tbody>
            </table>
        </div>
    </div>
</div>