<div class=" content">
    <div class=" row">
        <div class="col-md-12">
            <app-doctor-appointment-list></app-doctor-appointment-list>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-12">
            <app-doctor-appointment-request></app-doctor-appointment-request>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-12">
            <app-doctor-appointment-list [completed]="true"></app-doctor-appointment-list>
        </div>
    </div>
</div>