<div class=" content">
    <div class="row">
        <div class="col-md-12">
            <app-search-doctor></app-search-doctor>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-patient-appointment-list></app-patient-appointment-list>            
        </div>
    </div>
    <div class=" row">
        <div class="col-md-12">
            <app-patient-appointment-request></app-patient-appointment-request>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-patient-appointment-list [completed]="true"></app-patient-appointment-list>
        </div>
    </div>
</div>