<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="#">
          UrnaCare
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="#">
          About Us
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="#"> Privacy </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} 
      <a href="#" target="_blank"> UrnaCare </a>
    </div>
  </div>
</footer>
