<div class="modal-header">
  <h4 class="modal-title">Edit/Create/View Inventory</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.brand + ' (' + r.strength + ')'" [term]="t"></ngb-highlight>---
  <ngb-highlight [result]="r.compositionName" [term]="t"></ngb-highlight>
</ng-template>
<div class="modal-body">
  <div class="row">
      <div class="col-md-3" *ngIf="!inventory.id">
        <input id="typeahead-http" type="text" class="form-control mx-sm-3" 
        [class.is-invalid]="searchFailed" [(ngModel)]="drug" 
        [ngbTypeahead]="search" placeholder="Search Drug by Brand or Composition" [resultTemplate]="rt"
        [inputFormatter]="formatter" [editable]='false'
        container="body" 
        showHint="true"/>
        <small *ngIf="searching" class="form-text text-muted">searching...</small>
        <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
      </div>
      <div class="col-9" *ngIf="drug && drug.id">
        {{ drug.brand }} ( {{ drug.strength }}) - {{ drug.compositionName }} - {{ drug.formulation }} - {{ drug.manufacturerName }}
      </div>
  </div>
  <hr>
  <form
    class="needs-validation"
    novalidate
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    *ngIf="drug && drug.id"
  >
    <div class="form-row">
      <div class="col-md-3">
        <label>Batch Number</label>
        <input
          type="text"
          class="form-control"
          placeholder="Batch Number"
          formControlName="batchNumber"
          [ngClass]="{ 'is-invalid': submitted && f.batchNumber.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.batchNumber.invalid"
        >
          <div *ngIf="f.batchNumber.errors.required">
            Batch Number is required
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <label>Expiry Date</label>
        <input
          type="date"
          class="form-control"
          placeholder="Expiry Date"
          formControlName="expiryDate"
          [ngClass]="{ 'is-invalid': submitted && f.expiryDate.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.expiryDate.invalid"
        >
          <div *ngIf="f.expiryDate.errors.required">
            Expiry Date is required
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <label>Pack Size</label>
        <input
          type="number"
          class="form-control"
          placeholder="Pack Size"
          formControlName="packSize"
          [ngClass]="{ 'is-invalid': submitted && f.packSize.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.packSize.invalid"
        >
          <div *ngIf="f.packSize.errors.required">Pack Size is required</div>
        </div>
      </div>

      <div class="col-md-3">
        <label>Unit</label>
        <select class="form-control" formControlName="unit">
          <option></option>
          <option *ngFor="let u of units" value="{{ u }}">
            {{ u }}
          </option>
        </select>

        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.unit.invalid"
        >
          <div *ngIf="f.unit.errors.required">Unit is required</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3">
        <label>Price/Pack</label>
        <input
          type="number"
          class="form-control"
          placeholder="Price per Unit"
          formControlName="price"
          [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.price.invalid"
        >
          <div *ngIf="f.price.errors.required">Price is required</div>
        </div>
      </div>
      <div class="col-md-3">
        <label>No. of Packs</label>
        <input
          type="number"
          class="form-control"
          placeholder="No. of Units"
          formControlName="noOfUnits"
          [ngClass]="{ 'is-invalid': submitted && f.noOfUnits.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.noOfUnits.invalid"
        >
          <div *ngIf="f.noOfUnits.errors.required">
            No. of Packs is required
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <label>Max Discount%</label>
        <input
          type="number"
          class="form-control"
          placeholder="Max Discount%"
          formControlName="maxDiscountRate"
          [ngClass]="{ 'is-invalid': submitted && f.maxDiscountRate.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.maxDiscountRate.invalid"
        >
          <div *ngIf="f.maxDiscountRate.errors.required">
            Max Discount is required
          </div>
        </div>
      </div>

    </div>
<hr>
    <div class="form-row">
      <div class="col-md-5">
        <label>HSN Code</label>
        <input
          type="text"
          class="form-control"
          placeholder="HSN Code"
          formControlName="hsnCode"
          [ngClass]="{
            'is-invalid': submitted && f.hsnCode.errors
          }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.hsnCode.invalid"
        >
          <div *ngIf="f.hsnCode.errors.required">HSN Code is not valid</div>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="col-md-3">
        <label>GST</label>
        <input
          type="number"
          class="form-control"
          placeholder="GST"
          formControlName="gst"
          [ngClass]="{ 'is-invalid': submitted && f.gst.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.gst.invalid"
        >
          <div *ngIf="f.gst.errors.required">GST is required</div>
        </div>
      </div>

      <div class="col-md-3">
        <label>CGST</label>
        <input
          type="number"
          class="form-control"
          placeholder="CGST"
          formControlName="cgst"
          [ngClass]="{ 'is-invalid': submitted && f.cgst.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.cgst.invalid"
        >
          <div *ngIf="f.cgst.errors.required">CGST is required</div>
        </div>
      </div>

      <div class="col-md-3">
        <label>SGST</label>
        <input
          type="number"
          class="form-control"
          placeholder="SGST"
          formControlName="sgst"
          [ngClass]="{ 'is-invalid': submitted && f.sgst.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.sgst.invalid"
        >
          <div *ngIf="f.sgst.errors.required">SGST is required</div>
        </div>
      </div>

      <div class="col-md-3">
        <label>IGST</label>
        <input
          type="number"
          class="form-control"
          placeholder="IGST"
          formControlName="igst"
          [ngClass]="{ 'is-invalid': submitted && f.igst.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.igst.invalid"
        >
          <div *ngIf="f.igst.errors.required">IGST is required</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3 offset-md-9">
        <button type="submit" class="btn btn-primary" [disabled]="loading">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

