<div class="modal-header">
  <h4 class="modal-title">Edit/Create/View User</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form
    class="needs-validation"
    novalidate
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-row">
      <div class="col-md-8">
        <label>Brand</label>
        <input
          type="text"
          class="form-control"
          placeholder="Brand"
          formControlName="brand"
          [ngClass]="{ 'is-invalid': submitted && f.brand.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.brand.invalid"
        >
          <div *ngIf="f.brand.errors.required">Brand is required</div>
        </div>
      </div>
      <div class="col-md-4">
        <label>Batch Number</label>
        <input
          type="text"
          class="form-control"
          placeholder="Batch Number"
          formControlName="batchNumber"
          [ngClass]="{ 'is-invalid': submitted && f.batchNumber.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.batchNumber.invalid"
        >
          <div *ngIf="f.batchNumber.errors.required">
            Batch Number is required
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-10">
        <label>Composition</label>
        <select class="form-control" formControlName="compositionId">
          <option></option>
          <option
            *ngFor="let composition of compositions"
            value="{{ composition?.id }}"
          >
            {{ composition?.name }}
          </option>
        </select>
      </div>
      <div class="col-md-2">
        <div class="add-btn">
          <button class="btn btn-sm btn-primary" (click)="addComposition()">
            &#43; New
          </button>
        </div>
      </div>
      <div
        class="invalid-feedback"
        style="display: block"
        *ngIf="submitted && f.compositionId.invalid"
      >
        <div *ngIf="f.compositionId.errors.required">
          Composition is required
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-10">
        <label>Manufacturer</label>
        <select class="form-control" formControlName="manufacturerId">
          <option></option>
          <option
            *ngFor="let manufacturer of manufacturers"
            value="{{ manufacturer?.id }}"
          >
            {{ manufacturer?.name }}
          </option>
        </select>
      </div>
      <div class="col-md-2">
        <div class="add-btn">
          <button class="btn btn-sm btn-primary" (click)="addManufacturer()">
            &#43; New
          </button>
        </div>
      </div>
      <div
        class="invalid-feedback"
        style="display: block"
        *ngIf="submitted && f.manufacturerId.invalid"
      >
        <div *ngIf="f.manufacturerId.errors.required">
          Manufacturer is required
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-4">
        <label>Formulation</label>
        <select class="form-control" formControlName="formulation">
          <option></option>
          <option *ngFor="let f of formulations" value="{{ f }}">
            {{ f }}
          </option>
        </select>

        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.formulation.invalid"
        >
          <div *ngIf="f.formulation.errors.required">
            Formulation is required
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <label>HSN Code</label>
        <input
          type="text"
          class="form-control"
          placeholder="HSN Code"
          formControlName="hsnCode"
          [ngClass]="{
            'is-invalid': submitted && f.hsnCode.errors
          }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.hsnCode.invalid"
        >
          <div *ngIf="f.hsnCode.errors.required">HSN Code is not valid</div>
        </div>
      </div>
      <div class="col-md-3">
        <label>Unit</label>
        <select class="form-control" formControlName="unit">
          <option></option>
          <option *ngFor="let u of units" value="{{ u }}">
            {{ u }}
          </option>
        </select>

        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.unit.invalid"
        >
          <div *ngIf="f.unit.errors.required">Unit is required</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-5">
        <label>Expiry Date</label>
        <input
          type="date"
          class="form-control"
          placeholder="Expiry Date"
          formControlName="expiryDate"
          [ngClass]="{ 'is-invalid': submitted && f.expiryDate.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.expiryDate.invalid"
        >
          <div *ngIf="f.expiryDate.errors.required">
            Expiry Date is required
          </div>
        </div>
      </div>

      <div class="col-md-3 offset-md-2">
        <label>Prescription Required</label>
        <input
          type="checkbox"
          class="form-control"
          style="width: 10%"
          formControlName="prescriptionRequired"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3">
        <label>No. of Units</label>
        <input
          type="text"
          class="form-control"
          placeholder="No. of Units"
          formControlName="noOfUnits"
          [ngClass]="{ 'is-invalid': submitted && f.noOfUnits.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.noOfUnits.invalid"
        >
          <div *ngIf="f.noOfUnits.errors.required">
            No. of Units is required
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <label>Pack Size</label>
        <input
          type="text"
          class="form-control"
          placeholder="Pack Size"
          formControlName="packSize"
          [ngClass]="{ 'is-invalid': submitted && f.packSize.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.packSize.invalid"
        >
          <div *ngIf="f.packSize.errors.required">Pack Size is required</div>
        </div>
      </div>
      <div class="col-md-3">
        <label>Max Discount</label>
        <input
          type="text"
          class="form-control"
          placeholder="Max Discount"
          formControlName="maxDiscountRate"
          [ngClass]="{ 'is-invalid': submitted && f.maxDiscountRate.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.maxDiscountRate.invalid"
        >
          <div *ngIf="f.maxDiscountRate.errors.required">
            Max Discount is required
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <label>Price</label>
        <input
          type="text"
          class="form-control"
          placeholder="Pack Size"
          formControlName="price"
          [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.price.invalid"
        >
          <div *ngIf="f.price.errors.required">Price is required</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3">
        <label>GST</label>
        <input
          type="text"
          class="form-control"
          placeholder="GST"
          formControlName="gst"
          [ngClass]="{ 'is-invalid': submitted && f.gst.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.gst.invalid"
        >
          <div *ngIf="f.gst.errors.required">GST is required</div>
        </div>
      </div>

      <div class="col-md-3">
        <label>CGST</label>
        <input
          type="text"
          class="form-control"
          placeholder="CGST"
          formControlName="cgst"
          [ngClass]="{ 'is-invalid': submitted && f.cgst.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.cgst.invalid"
        >
          <div *ngIf="f.cgst.errors.required">CGST is required</div>
        </div>
      </div>

      <div class="col-md-3">
        <label>SGST</label>
        <input
          type="text"
          class="form-control"
          placeholder="SGST"
          formControlName="sgst"
          [ngClass]="{ 'is-invalid': submitted && f.sgst.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.sgst.invalid"
        >
          <div *ngIf="f.sgst.errors.required">SGST is required</div>
        </div>
      </div>

      <div class="col-md-3">
        <label>IGST</label>
        <input
          type="text"
          class="form-control"
          placeholder="IGST"
          formControlName="igst"
          [ngClass]="{ 'is-invalid': submitted && f.igst.errors }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="submitted && f.igst.invalid"
        >
          <div *ngIf="f.igst.errors.required">IGST is required</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3 offset-md-9">
        <button type="submit" class="btn btn-primary" [disabled]="loading">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
