<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2>Inventories</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter">
              <thead>
                <tr>
                  <th scope="col">Brand</th>
                  <th scope="col">Manufacturer</th>
                  <th scope="col">Composition</th>
                  <th scope="col">Expiry</th>
                  <th>
                    <button type="button" class="btn btn-link" (click)="open()">
                      <i class="tim-icons icon-simple-add"></i>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="inventories">
                <tr *ngFor="let inventory of inventories">
                  <td>{{ inventory.brand }}</td>
                  <td>{{ inventory.manufacturerName }}</td>
                  <td>{{ inventory.compositionName }}</td>
                  <td>{{ inventory.expiryDate | date: "mediumDate" }}</td>
                  <td>
                    <button
                      type="button"
                      (click)="open(inventory)"
                      class="btn btn-link"
                    >
                      <i class="tim-icons icon-pencil"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <ngb-pagination
            [collectionSize]="totalSize"
            [(page)]="page"
            [pageSize]="size"
            (pageChange)="pageChange()"
            size="md"
            class="d-flex justify-content-end"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
