<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2>Inventory</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter">
              <thead>
                <tr>
                  <th scope="col">Brand</th>
                  <th scope="col">Batch#</th>
                  <th scope="col">Expiry</th>
                  <th scope="col">Price/pack</th>
                  <th scope="col">Pack Size</th>
                  <th scope="col">Availability</th>
                  <th scope="col">Discount</th>
                  <th>
                    <button type="button" class="btn btn-link" (click)="open()">
                      <i class="tim-icons icon-simple-add"></i>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="inventories">
                <tr *ngFor="let inventory of inventories">
                  <td>{{ inventory.brand }} ({{ inventory.strength }})</td>
                  <td>{{ inventory.batchNumber }}</td>
                  <td>{{ inventory.expiryDate | date: "dd/MM/yyyy" }}</td>
                  <td>{{ inventory.price }}</td>
                  <td>{{ inventory.packSize}} {{ inventory.unit }}</td>
                  <td>{{ inventory.noOfUnits }}</td>
                  <td>{{ inventory.maxDiscountRate }}</td>
                  <td>
                    <button
                      type="button"
                      (click)="open(inventory)"
                      class="btn btn-link"
                    >
                      <i class="tim-icons icon-pencil"></i>
                    </button>
                    <button
                    type="button"
                    (click)="delete(inventory)"
                    class="btn btn-link btn-danger"
                    >
                    <i class="tim-icons icon-trash-simple"></i>
                  </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <ngb-pagination
            [collectionSize]="totalSize"
            [(page)]="page"
            [pageSize]="size"
            (pageChange)="pageChange()"
            size="md"
            class="d-flex justify-content-end"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
